*{
    margin: 0;
    padding: 0;

}
.main_1{
    background-color: black;
    padding-block: 10px;
}
content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.nav_main{
    width: 100%;
    display: flex;
    margin-block: 30px;
}
.logo{
    width: 30%;
    margin-left: auto;
}
.logo img{
    width: 30%;
}
.nav_1{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    margin-right: auto;
}
.dropdown_1 select{
    background-color: black;
    color: white;
    border: none;
    font-size: 20px;
}
.prime_video_text p{
    font-size: 20px;
    width: 40%;
    margin-left: 3%;
    margin-top: 30px;
}
.prime_video_text h1{
    font-size: 40px;
    padding-top: 80px;
    /* margin-block: 30px; */
    margin-left: 3%;
}
.anchor_tag a{
    text-decoration: none;
    color: white;
}
.prime_video{
    display: flex;
    /* width: 80%; */
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
}
.prime_video_text{
    background-image: url("https://m.media-amazon.com/images/G/31/AmazonVideo/2019/MLP.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;  
    font-family: sans-serif;
    color: white;
    width: 100%;
    /* margin-top: -300px; */
    /* margin-left: 10%; */
}
.prime_video_text button{
    width: 20%;
    height: 50px;
    background-color: rgb(15,121,175);
    color: white;
    font-size: 16px;
    border: none;
    /* margin-block: 20px; */
    border-radius: 4px;
    margin-left: 3%;
    margin-top: 20px;
}
.movie_text_1{
    background-image: url("https://m.media-amazon.com/images/G/31/AmazonVideo/2021/X-site/MLP/TVOD/TVOD_MLP_Right.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    font-family: sans-serif;
    color: white;
    width: 100%;
}
.movie_text_1 h1{
    font-size: 40px;
    padding-top: 80px;
    /* margin-block: 1px; */
    margin-left: 3%;
}
.movie_text_1 p{
    font-size: 20px;
    width: 50%;
    margin-left: 3%;
    padding-top: 10px;
}
.movie_text_1 button{
    width: 20%;
    height: 50px;
    background-color: rgb(15,121,175);
    color: white;
    font-size: 16px;
    border: none;
    margin-block: 20px;
    border-radius: 4px;
    margin-left: 3%;
}
.logos{
    /* display: flex; */
    width: 50%;
    margin-block: 20px;
    justify-content: space-evenly;
}
.favorite{
    display: flex;
    width: 100%;
}
.favorite_text{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.favorite_text h1{
    font-size: 45px;
    padding-top: 50px;
}
.favorite_text p{
    font-size: 25px;
    padding-top: 40px;
}
.logos_main_1{
    display: flex;
    width: 100%;
}
.logos_main_1 img{
    width: 96%;
}
.even{
    width: 100%;
    background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/digital/video/Magellan_MLP/MLP_Template_Image_Left.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    /* margin-left: auto;
    margin-right: 10%; */
}
.even_img{
    width: 50%;
    float: right;
    /* margin-left: auto;
    margin-right: 10%; */
}
.even_img h1{
    color: white;
    font-size: 43px;
    /* float: right; */
    width: 80%;
    margin-top: 40px;
    /* margin-left: auto;
    margin-right:auto; */
}
.even_img p{
    color: white;
    width: 80%;
    font-size: 23px;
    margin-top: 30px;
    line-height: 30px;
}
.even_img button{
    background-color: rgb(15,121,175);
    color: white;
    border: none;
    width: 40%;
    margin-top: 40px;
    font-size: 20px;
    height: 50px;
}
.logo_last{
    background-color: rgb(34,34,34);
    padding-block: 30px;
    text-align: center;
}
.last_nav{
    width: 100%;
    /* justify-content: space-between; */
}
.last_nav a{
    text-decoration: none;
    color: rgb(15,121,175);
    font-size: 20px;
    margin-left: 2%;
}
.last_nav p{
    color: gray;
    font-size: 20px;
    margin-top: 5px;
}
@media all and (max-width:768px) {
    .nav_1{
        display: none;
    }
    .logo{
        width: 50%;
        margin-right: auto;
    }
    .prime_video_text p{
        width: 80%;
    }
    .movie_text_1{
        width: 100%;
    }
    .movie_text_1 p{
        width: 94%;
        margin-left: auto;
        margin-right: auto;
    }
    .favorite{
        flex-direction: column;
    }
    .favorite_text{
        width: 80%;
    }
    .favorite_text h1{
        width: 100%;
        margin-left: auto;
        margin-right: auto;

    }
    .favorite_text p{
        width: 100%;
        /* margin-left: auto;
        margin-right: auto; */
    }
    .logos_main_1{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .logo_1{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .logos{
        width: 96%;
        margin-left: auto;
        margin-right: auto;
    }
    .even_img{
        width: 90%;
    }
    .even_img p{
        width: 96%;
        /* float: left; */
        /* margin-right: auto; */
    }
}